
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slice #{{ slice_id }}: {{ slice_label }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <a href="/" class="back-btn">&larr; Back</a>
        <div class="slice-logo">
            <div class="logo">Slice #{{ slice_id }}</div>
            <span>({{ slice_start }} - {{ slice_end }} seconds)</span>
        </div>
        <button class="dark-mode-toggle" onclick="toggleDarkMode()">
            <span id="theme-icon">🌙</span>
            <span id="theme-text">Dark Mode</span>
        </button>
    </header>
    <div class="container">
        
        <div class="slice-info">
            <!-- <div class="slice-title">
                <h1>Slice #{{ slice_id }}</h1>
                <span>({{ slice_start }} - {{ slice_end }} seconds)</span>
            </div> -->
            <h3>This slice was classified: <span id="emoLabel" style="font-weight: bold;"></span></h3>
        </div>
            
            <div id="overallEmotion" class="overall-emotion">
                <div class="emotion-display">
                    <!-- <div class="box-vert-flex">
                        <span id="prob_emo0"></span>
                        <span id="prob_emo1"></span>
                        <span id="prob_emo2"></span>
                        <span id="prob_emo3"></span>
                    </div> -->
                    
                    <div class="bar-chart-container">
                        <div class="bar-chart">
                            <div class="bar-item">
                                <div class="bar-label" id="bar_label_0">Emotion 1</div>
                                <div class="bar-background">
                                    <div class="bar-fill emotion-0" id="bar_fill_0" style="width: 0%"></div>
                                    <div class="bar-percentage" id="bar_percentage_0">0%</div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="bar-label" id="bar_label_1">Emotion 2</div>
                                <div class="bar-background">
                                    <div class="bar-fill emotion-1" id="bar_fill_1" style="width: 0%"></div>
                                    <div class="bar-percentage" id="bar_percentage_1">0%</div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="bar-label" id="bar_label_2">Emotion 3</div>
                                <div class="bar-background">
                                    <div class="bar-fill emotion-2" id="bar_fill_2" style="width: 0%"></div>
                                    <div class="bar-percentage" id="bar_percentage_2">0%</div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="bar-label" id="bar_label_3">Emotion 4</div>
                                <div class="bar-background">
                                    <div class="bar-fill emotion-3" id="bar_fill_3" style="width: 0%"></div>
                                    <div class="bar-percentage" id="bar_percentage_3">0%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        <p style="margin-bottom:1px; text-align: center;">Play back the slice</p>
        <audio id="recPlayer" controls class="rec-player">
            <source id="recSource" src="" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        
        <div class="slice-container">
            <div class="slice-img">
                <p>The waveform shows the evolution in time of the audio signal of this 3-second slice</p>
                <img src="data:image/png;base64,{{ plot }}" alt="Waveform Slice {{ slice_label }}">
            </div>
            <div class="slice-img">
                <p>The spectrogram shows the frequency content of the audio signal of this 3-second slice</p>
                <img src="data:image/png;base64,{{ spectrogram }}" alt="Spectrogram Slice {{ slice_label }}">
            </div>
        </div>

        <div class="message-box rev-box">
            <p>What did the neural network found in the spectrogram that was so telling?</p>
            <p>We can run an <b>AI Explainability method</b> to understand which area of the <b>spectrogram</b> was found to be so <b class="emotext"></b></p>

            <p>We can try with <a href="https://homes.cs.washington.edu/~marcotcr/blog/lime/">LIME</a> (Local Interpretable Model-Agnostic Explanations)</p>

            <div style="width: 100%;">
                <button class="margincentered" onclick="unveilLIME();">Go with LIME 🍋‍🟩</button>
            </div>
        </div>

        <div id="limebox">
            <div class="slice-img-full">
                <p>This spectrogram has been analyzed by LIME</p>
                <p>The darker red area of the spectrogram is the area that, according to the classifier, most represent the emption <b>Relaxed</b> in this slice.</p>
                <img src="" id="limespec" alt="LIME Spectrogram for Slice {{ slice_label }}">
            </div>
            <div class="slice-img-full">
                <p>This is the most relevant region</p>
                <img src="" id="limespecDetail" alt="LIME detailed Spectrogram for Slice {{ slice_label }}">
                <p>Listen to the region here!</p>
                <audio id="limePlayer" controls class="rec-player">
                    <source id="limeSource" src="{{ audio_url }}#t={{ slice_start }},{{ slice_end }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>


    <script>

        function computeOrGetLime (url){
            fetch(url, {
                method: 'GET',
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                console.log("LIME explanation request sent successfully.");
                return response.json();
            })
            .then(data => {
                console.log("LIME explanation data received:", data);
                // Redirect to the LIME explanation page
                // window.location.href = `/lime_explanation/${sliceId}`;

                // get id limespec
                const limeSpec = document.getElementById("limespec");
                // set the src of limespec to the base64 image data
                limeSpec.src = `data:image/png;base64,${data.heatmap_overall}`;

                const limespecDetail = document.getElementById("limespecDetail");
                // set the src of limespecDetail to the base64 image data
                limespecDetail.src = `data:image/png;base64,${data.highlight_plot}`;
            })
        }

        function unveilLIME() {

            sessionStorage.setItem("lime_unveiled", "true");

            // Show the LIME box
            const limeBox = document.getElementById("limebox");
            limeBox.style.display = "block";
            // Show rec-player (elements of class="rec-player")
            players = document.querySelectorAll(".rec-player");
            players.forEach(player => {
                player.style.display = "block";
            });
        }

        window.addEventListener('load', function() {
            // loadExistingWaveform();
            const limeUnveiled = sessionStorage.getItem("lime_unveiled");
            console.log("LIME unveiled status:", limeUnveiled);
            const limeComputed = sessionStorage.getItem("lime_computed");
            console.log("LIME computed status:", limeComputed);

            if (limeComputed === "true") {
                // LIME has already been computed, so we can just unveil it
                console.log("LIME already computed");
                if (limeUnveiled === "true") {
                    // Unveil the LIME spectrogram
                    console.log("Unveiling LIME...");
                    unveilLIME();
                } else {
                    // Hide the LIME box
                    console.log("Hiding LIME box, not unveiled yet.");
                    const limeBox = document.getElementById("limebox");
                    limeBox.style.display = "none";
                }
            } else {
                // LIME has not been computed yet, so we will compute it now
                console.log("LIME not computed yet, computing...");
                const sliceId = "{{ slice_id }}";
                const url = `/get_lime_plot/${sliceId}`;

                computeOrGetLime(url);
            }
            
            if (limeUnveiled === "true") {
                
                // Unveil the LIME spectrogram
                console.log("Unveiling LIME...");
                unveilLIME();
            } 
            // else {
            //     // Hide the LIME box
            //     const limeBox = document.getElementById("limebox");
            //     limeBox.style.display = "none";
            // }
        });

        document.addEventListener("DOMContentLoaded", function() {
            const recPlayer = document.getElementById("recPlayer");
            const recSource = document.getElementById("recSource");
            
            console.log("Audio URL:'{{ audio_url }}'");
            recSource.src = "{{ audio_url }}#t={{ slice_start }},{{ slice_end }}";
            recPlayer.load();
            recPlayer.style.display = "block";

            // Load emotion label
            const emoLabel = document.getElementById("emoLabel");
            let sliceLabel = "{{ slice_label }}";
            emoLabel.textContent = sliceLabel.charAt(0).toUpperCase() + sliceLabel.slice(1);
            emoLabel.className = emoLabel.className + ` emocolor-darker-${sliceLabel}`;

            // all .emotext elements
            document.querySelectorAll('.emotext').forEach(function(element) {
                element.textContent = sliceLabel.charAt(0).toUpperCase() + sliceLabel.slice(1);
                element.className = element.className + ` emocolor-${sliceLabel}`;
            });


            let sliceEmoProbabilities = "{{ emotion_probabilities }}";
            // Transform this string of a dict back to a dict
            sliceEmoProbabilities = sliceEmoProbabilities.replace(/&#39;/g, "'");
            sliceEmoProbabilities = sliceEmoProbabilities.replace(/&quot;/g, '"');
            sliceEmoProbabilities = sliceEmoProbabilities.replace(/&amp;/g, '&');
            sliceEmoProbabilities = sliceEmoProbabilities.replace(/'/g, '"');

            console.log("Slice Emotion Probabilities:", sliceEmoProbabilities);

            const overallEmotionProbs = [
                document.getElementById('prob_emo0'),
                document.getElementById('prob_emo1'),
                document.getElementById('prob_emo2'),
                document.getElementById('prob_emo3')
            ];
            
            let emotionProbabilities = {};
            try {
                emotionProbabilities = JSON.parse(sliceEmoProbabilities);
                console.log("Parsed Emotion Probabilities:", emotionProbabilities);
            } catch (error) {
                console.error("Error parsing JSON:", error);
                console.log("String that failed to parse:", sliceEmoProbabilities);
            }

            // Iterate over the emotion probabilities and display them
            let counter = 0;
            for (const [emotion, prob] of Object.entries(emotionProbabilities || {})) {
                console.log(`Emotion: ${emotion}, Probability: ${prob}`);
                
                // First letter of emotion capitalized
                let emotionPrint = emotion.charAt(0).toUpperCase() + emotion.slice(1);
                let probString = `${emotionPrint}: ${(prob * 100).toFixed(2)}%`;
                if (overallEmotionProbs[counter]) {
                    overallEmotionProbs[counter].textContent = probString;
                }
                
                // Update bar chart
                const barLabel = document.getElementById(`bar_label_${counter}`);
                const barFill = document.getElementById(`bar_fill_${counter}`);
                const barPercentage = document.getElementById(`bar_percentage_${counter}`);
                
                if (barLabel && barFill && barPercentage) {
                    barLabel.textContent = emotionPrint;
                    
                    // Animate the bar fill after a short delay
                    setTimeout(() => {
                        barFill.style.width = `${(prob * 100).toFixed(1)}%`;
                    }, 100 + (counter * 100)); // Stagger the animations
                    
                    barPercentage.textContent = `${(prob * 100).toFixed(1)}%`;
                }
                
                counter++;
            }
        });
    
    </script>
</body>
</html>
